.Rproj.user
.Rhistory
.RData
*.Rproj
inst/quarto/letter_demo.pdf
inst/quarto/report_simple_demo.pdf
inst/quarto/report_simple_demo_typst.pdf
inst/revealjs/template_test.html
inst/quarto/README_files/

/.luarc.json
inst/quarto/ppt_report_demo.pptx
inst/quarto/word_report_demo.docx
stphtoolbox.Rproj
